    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- <h2>About Me</h2> -->
                  <img src="../img/avi.jpg" class="avi"></img>
                  <p class="about">Salutations! My name is Andrew and this is my professional website. I'm currently studying for my bachelors degree in computer science at Allegheny College with minors in Spanish and economics.
                    I have been interested in computers from a young age and decided to study it after disliking the engineering program I was a part of in high school. </p>
                  <p>I am currently employeed at Kennywood Park just outside my hometown of Pittsburgh, Pennsylvania as a rides operation supervisor.
                    My responsibilities include training new ride operators, completing necessary paperwork, and ensuring guest safety and satisfaction.
                    Here at Allegheny, I'm a member of executive board for Gator Activities Programming as a co-VP of Annual Events.</p>
            </div>
        </div>
    </section>
