    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
             <!-- Interest content -->
             <div class = "container">
                <div class="col-sm-12-int">
                  <h3>Blog Post for 2 May 2019:</h3>
                  <p>For the second project in Software Innovations, we worked to develop a new software application. My group consisted of Saejin, Josh, Carson, Matt Jones, Karol, and myself.
                  Our group was tasked with creating a web-based application that allowed teachers to upload a CSV containing test/quiz information and have it automatically formatted to be
                  distributed to students. This solution was important because most teachers use paper exams, Sakai, or Google Docs, which don't provide as much functionality as some may desire.
                  We had a Flask web framework to start with, but needed to implement code that allowed users to upload the CSV and turn it into something usable by those here at Allegheny. My
                  job was to develop the method that handled information from the database. In the end, a portion of my code failed to provide the intended functionality for a couple of reasons.
                  These relate to the challenges that I faced. First, I found that it was difficult learning the ins and outs of the Flask framework while also trying to develop a somewhat complex
                  project. The other hardship that I faced was related to this, as my inexperience made it difficult to effectively communicate within the group at some points. As a result, some
                  functionality in my code was also found within others' work. Besides the formation of the tests, I also worked on the display for open ended questions. Lines 28-45 found <a href = "https://github.com/GatorEducator/quizagator/blob/master/application/templates/students/quiz_page.html"here</a>
                  make up a segment of code which handles the display of multiple choice questions. Although I understood how to display the text box to students, we needed to find a way to
                  differentiate between questions that were open ended and multiple choice. In the end, we accomplished this by...
                    <code>
                      &lt;form method='POST' action='/students/quizzes/grade/{{quiz_id}}/'&gt;
            						&lt;fieldset&gt;
            							{% for question in questions %}
            								&lt;span style="text-decoration: underline;"&gt;{{ question.text }}&lt;/span&gt;
            								{% set answer_num = 0 %}
            								{% for answer in question.answers %}
            									&lt;div class="answer-div"&gt;&lt;input
            													required type="radio"
            													name="{{question.id}}" class="answer"
            													value="{{answer_num}}"/&gt;<span&gt;{{answer}}&lt;/span&gt;
            									&lt;/div&gt;
            									{% set answer_num = answer_num + 1 %}
            								{% endfor %}&lt;br/&gt;
            							{% endfor %}
            							&lt;input type="submit" class="btn btn-primary" /&gt;
            						&lt;/fieldset&gt;
            					&lt;/form&gt;
            				&lt;/div&gt;
                    </code>
                   </p>
                    </div>
             </div>
             <!-- Resume Button -->
             <div class="container">
               <div class="col-lg-8 col-lg-offset-2">
                 <!-- Link to resume:  -->
                 <a href = "https://docs.google.com/document/d/1BSgAXmhqDE-rmp47m_HopE2DcSZLLnX3QuYqV79tRCc/edit?usp=sharing" target="_blank"><button class="btn-resume">View my Resume</button></a>
               </div>
             </div>
        </div>
    </section>
