    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
             <!-- Interest content -->
             <div class = "container">
                <div class="col-sm-6-int">
                  <h3>Other Interests & Hobbies:</h3>
                  <ul>
                    <li><p><strong>Video Production</strong> Since I discovered YouTube in elementary school, I've held an interest in video production.
                    Over the past several years, I have developed my skills Adobe Premiere and other applications in the suite.</p></li>
                    <li><p><strong>Sports</strong> My family fostered my love of sports from a young age, especially with Pittsburgh's reputation as a sports town.
                    My favorite sport to watch is hockey, which was introduced to me by my grandmother.
                  </ul>
                </div>
                <div class="col-sm-6-int">
                  <h3>Future Goals/Projects:</h3>
                  <ul>
                    <li><p>The other aspect of portfolio is a program designed to act as a calendar, but with the ability to determine the exact amount of time between an event and the current date.</p></li>
                    <li><p>I plan on continuing to code projects using Python and HTML, as I am most interested in those languages</p></li>
                    <li><p>I hope to secure an software engineering or web development internship for the summer of 2019.</p></li>
                  </ul>
                </div>
             </div>
             <!-- Resume Button -->
             <div class="container">
               <div class="col-lg-8 col-lg-offset-2">
                 <!-- Link to resume:  -->
                 <a href = "https://docs.google.com/document/d/1BSgAXmhqDE-rmp47m_HopE2DcSZLLnX3QuYqV79tRCc/edit?usp=sharing" target="_blank"><button class="btn-resume">View my Resume</button></a>
               </div>
             </div>
        </div>
    </section>
