    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
             <!-- Interest content -->
             <div class = "container">
                <div class="col-sm-12-int">
                  <h3>Blog Post for 2 May 2019:</h3>
                  <p>For the second project in Software Innovations, we worked to develop a new software application. My group consisted of Saejin, Josh, Carson, Matt Jones, Karol, and myself.
                  Our group was tasked with creating a web-based application that allowed teachers to upload a CSV containing test information and have it automatically formatted to be
                  distributed to students. This solution was important because most teachers use paper exams, Sakai, or Google Docs, which don't provide as much functionality as some may desire.
                  We had a Flask web framework to start with, but needed to implement code that allowed users to upload the CSV and turn it into something usable by those here at Allegheny. My
                  job was to develop the method that handled information from the database. In the end, a portion of my code failed to provide the intended functionality for a couple of reasons.
                  These relate to the challenges that I faced. First, I found that it was difficult learning the ins and outs of the Flask framework while also trying to develop a somewhat complex
                  project. The other hardship that I faced was related to this, as my inexperience made it difficult to effectively communicate within the group at some points. As a result, some
                  functionality in my code was also found within others' work. Besides the formation of the tests, I also worked on the display for open ended questions.  The following code was used
                  to display multiple choice questions: <code> &lt;div class="answer-div"&gt;&lt;input
                          required type="radio" </code>
                   In order to display open ended questions, the required type was changed to text. We could have also used blob, but that type restricts the length
                  of the string. Although I understood how to display the text box to students, we needed to find a way to differentiate between questions that were open ended and multiple choice.
                  In the end, we accomplished this by using if statements similarly to how I differentiated questions in my portion of the project. If you are interested in the source code, it can
                  be found in the repository located <a href = "https://github.com/GatorEducator/quizagator"> here. </a>
                   </p>
                    </div>
             </div>
             <!-- Resume Button -->
             <div class="container">
               <div class="col-lg-8 col-lg-offset-2">
                 <!-- Link to resume:  -->
                 <a href = "https://docs.google.com/document/d/1BSgAXmhqDE-rmp47m_HopE2DcSZLLnX3QuYqV79tRCc/edit?usp=sharing" target="_blank"><button class="btn-resume">View my Resume</button></a>
               </div>
             </div>
        </div>
    </section>
